* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Georgia, "Times New Roman", serif;
    font-style: oblique;
    background-color: var(--bg-main);
    color: var(--text-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}
